body {
	background-color: #ddd !important;
}

.blue {
	color: #008cba;
}

.red {
	color: red;
}

.text-16 {
	font-size: 16px;
}

.text-12 {
	font-size: 12px;
}

.list-unstyled {
	list-style: none;
}

.btn_back {
	font-size: 45px;
}

.btn_xs {
	margin: 5px;	
}
