<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Editing article</h1>

		<%= render :partial => 'source/form_article_edit' %>

		<%= link_to 'Show', users_article_path(@article), :class => 'btn btn-primary btn-xs' %> |
		<%= link_to 'Back', users_articles_path, :class => 'btn btn-primary btn-xs' %>
	</div>

</div>
