.row
  h1.text-center Hello, #{@user}

.row
  .col-md-8
  	- if articles.exists?
      ul.list-unstyled
        - articles.each do |article|
          li
            h2 =article.title
            p.text-16 =article.body

            span
              = link_to 'Show', users_article_path(article), :class => 'btn btn-primary btn-xs'
            |
            span
              = link_to 'Edit', edit_users_article_path(article), :class => 'btn btn-primary btn-xs' 
            |
            span
              = link_to 'Delete', users_article_path(article), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-primary btn-xs'

    - else
      p class=["text-16", "text-center"] 
        You have no articles now :(
	    = link_to 'Create first?', new_users_article_path, :class => 'btn btn-primary btn-lg btn-block'
